:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
  --speed: 40s; /* 속도를 느리게 조정 */
  --gap: 0;
}

body {
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

#section1 {
  width: 100vw;
  height: 100vh;
  background-color: #c8e8ff;
  position: relative;
  overflow: hidden;
  font-family: var(--font-name);
}

#section1 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section1 .clouds {
  width: 200%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0;
  animation: move-clouds 70s linear infinite;
}

@keyframes move-clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

#section1 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#section1 .icons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

/* 새로운 버튼 스타일 추가 */
.icon-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 24px; /* 아이콘 크기 조정 */
  color: var(--color-white); /* 아이콘 색상 */
}

.sound-button {
  background-color: #5a7d9a; /* 파란색 배경 */
}

.music-button {
  background-color: #a34b45; /* 빨간색 배경 */
}

.icon-button:hover {
  transform: translateY(-2px);
}

#section1 .right-icons {
  margin-right: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

#section1 .join-icon {
  width: 150px;
  height: 40px;
}

#section1 .mail-icon {
  width: 40px;
  height: 40px;
}

#section1 .menu-bar {
  width: 40px;
  height: 40px;
}

#section1 .right-hand {
  position: absolute;
  right: 20%;
  bottom: -10px;
  width: 50px;
  height: auto;
  animation: wave-hand 2s infinite;
}

@keyframes wave-hand {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

#section1 .left-back-tree,
#section1 .left-tree {
  animation: sway-left 3s infinite;
}

@keyframes sway-left {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

#section1 .right-back-tree,
#section1 .right-front-tree {
  animation: sway-right 3s infinite;
}

@keyframes sway-right {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

#section1 .left-back-tree {
  position: absolute;
  left: -3vw;
  bottom: -5px;
  width: 70vw;
  z-index: 1500;
}

#section1 .left-jandi {
  position: absolute;
  left: -10vw;
  bottom: -30px;
  width: 70vw;
  z-index: 2000;
}

#section1 .left-hand {
  position: absolute;
  left: 5vw;
  bottom: 40px;
  width: 50px;
  height: auto;
  z-index: 1999;
  animation: wave-hand 2s infinite;
}

#section1 .left-tree {
  position: absolute;
  left: 3vw;
  bottom: 20px;
  width: 70vw;
  z-index: 2500;
}

#section1 .right-back-tree {
  position: absolute;
  right: -45vw;
  bottom: 80px;
  width: 70vw;
  z-index: 1500;
}

#section1 .right-jandi {
  position: absolute;
  right: -30vw;
  bottom: -30px;
  width: 70vw;
  z-index: 2000;
}

#section1 .right-front-tree {
  position: absolute;
  right: -39vw;
  bottom: 30px;
  width: 70vw;
  z-index: 2500;
}

#section1 .sun-container {
  position: absolute;
  left: 48%;
  bottom: -20px;
  transform: translate(-50%, 50%);
  z-index: 1200;
  width: 800px;
  height: 800px;
}

#section1 .sun {
  position: relative;
  width: 100%;
  height: 100%;
}

#section1 .sun-body {
  width: 100%;
  height: 100%;
  animation: rotate-wings 60s linear infinite;
}

@keyframes rotate-wings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#section1 .sun-face {
  position: absolute;
  top: 36%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

#section1 .hat {
  position: absolute;
  top: 9%;
  left: 45%;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1300;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}

#section1 .red-container {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 50px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1300;
}

#section1 .red-body {
  width: 30px;
  height: auto;
  animation: nodding 2s infinite;
}

@keyframes nodding {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

#section1 .red-wing {
  position: absolute;
  top: -30px;
  left: 0;
  width: 60px;
  height: auto;
  animation: rotate-wing 0.5s linear infinite;
}

@keyframes rotate-wing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

#section1 .bg img {
  max-width: 200%;
  height: 300%;
  position: absolute;
  bottom: -150%;
  animation: rotating 60s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro-text {
  margin-top: 60px;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  font-family: "Katuri";
}

.intro-text span {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.skill-icons {
  margin-top: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 80px;
}

.skill-icons img {
  display: inline-block;
  margin-right: 100px; /* 여기에 margin 추가 */
  animation: scroll-horizontal 20s linear infinite;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.zigzag-container {
  display: flex;
  width: 300%; /* 세 개의 zigzag를 나란히 놓기 위한 넓이 설정 */
  height: 100px; /* 지그재그 높이 설정 */
  position: relative; /* section2와 겹치게 설정 */
  bottom: -1px;
  animation: move-zigzag var(--speed) linear infinite;
  background-color: #222; /* 흰색 선이 생기지 않도록 배경색 설정 */
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  z-index: 2; /* section2와 자연스럽게 겹치도록 z-index 설정 */
}

.zigzag {
  background-image: url("../img/zigzag.svg");
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: cover;
  width: 33.3333%; /* 세 개의 zigzag를 나란히 놓기 위한 넓이 설정 */
  height: 100px;
}

@keyframes move-zigzag {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333%); /* 세 개의 zigzag를 반복하기 위한 설정 */
  }
}

#section2 {
  width: 100%;
  background: #222;
  background-size: cover;
  color: white;
  font-family: var(--font-name);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin-bottom: -100px; /* section2와 zigzag-container가 겹치게 설정 */
}

.myimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.myimg img {
  margin-top: 100px;
  border-radius: 50%; /* 원형으로 만들기 위해 반지름을 50%로 설정 */
  width: 300px;
  height: 300px;
  height: auto; /* 높이를 자동으로 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

#section3 {
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-color: #a24436; /* 섹션 3 배경색 */
}

#section3 .nice {
  margin-top: 100px;
  text-align: center;
}

.section3-ment1 {
  margin-top: 60px;
  font-family: "Bebas Neue";
  font-size: 140px;
  text-align: center;
  color: #fccf3d;
}

.section3-ment2 {
  font-family: "Bebas Neue";
  font-size: 120px;
  text-align: center;
  color: #fff;
  margin-top: 165px;
  line-height: 1;
  position: relative;
}

.section3-ment2 .arm {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
  animation: wave-arm 1.5s infinite;
}

@keyframes wave-arm {
  0%,
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(20deg);
  }
}

.black-effect {
  margin-top: 212px;
  text-align: center;
  position: relative;
  animation: wave-effect 5s ease-in-out infinite;
}

@keyframes wave-effect {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg) translateX(-5px) translateY(-5px);
  }
  50% {
    transform: rotate(-15deg) translateX(5px) translateY(5px);
  }
  75% {
    transform: rotate(15deg) translateX(-5px) translateY(-5px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.black-effect-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue";
  font-size: 110px;
  line-height: 1;
  color: white;
  text-align: center;
}

.ability-title-container {
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 10em;
  color: #fccf3d;
  margin-top: 150px;
}

.ability-container {
  display: flex;
  justify-content: space-between; /* 박스 사이 간격 조정 */
  margin-top: 50px;
  text-align: center;
  padding: 5px 80px; /* 좌우 패딩 추가 */
}

.ability-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 자식 요소들을 위쪽으로 정렬 */
  align-items: center;
  width: 30%;
  height: 400px;
  padding: 20px;
  border: 5px solid #000;
  border-radius: 30px;
  background-color: #fff;
  color: var(--color-black);
  font-family: var(--font-name);
  position: relative;
  box-sizing: border-box; /* 패딩을 포함하여 높이와 너비 계산 */
  box-shadow: 0 8px;
  margin-bottom: 100px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fccf3d;
  border: 4px solid #000;
  color: #000;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* 원과 제목 간 거리 조정 */
}

.ability-title {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
  font-family: "Bebas Neue";
}

.ability-description {
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  font-family: "Katuri";
  margin-top: 20px;
}

.view-button {
  background-color: #fccf3d;
  border: none;
  color: #000;
  font-family: "Bebas Neue";
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 버튼 그림자 추가 */
}

.view-button:hover {
  background-color: #e0b935;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.volume-slider-container {
  position: absolute;
  top: 50px;
  left: 10px;
  display: none;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.volume-slider {
  width: 100px;
}

.alice-container {
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translateY(-50%);
  width: 50px;
  height: auto;
  left: 1200px;
}

.blue-zigzag-container {
  display: flex;
  width: 300%; /* 세 개의 blue-zigzag를 나란히 놓기 위한 넓이 설정 */
  height: 100px; /* 지그재그 높이 설정 */
  position: relative; /* section3와 겹치게 설정 */
  /* bottom: 0px; */
  animation: move-blue-zigzag var(--speed) linear infinite;
  background-color: #a24436; /* 배경색 설정 */
  overflow: hidden; /* 내용이 넘치지 않도록 설정 */
  z-index: 2; /* section3와 자연스럽게 겹치도록 z-index 설정 */
}

.blue-zigzag {
  background-image: url("../img/blue-zigzag.svg");
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: cover;
  width: 33.3333%; /* 세 개의 zigzag를 나란히 놓기 위한 넓이 설정 */
  height: 100px;
}

@keyframes move-blue-zigzag {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -33.3333%
    ); /* 세 개의 blue-zigzag를 반복하기 위한 설정 */
  }
}

.portfolio-report {
  text-align: center;
  margin-top: 0;
  font-family: var(--font-name);
  background-color: #c8e8ff; /* 배경 색상 추가 */
  padding: 50px 0; /* 여백 추가 */
}

.portfolio-report h1 {
  font-size: 5em;
  margin-bottom: 20px;
  font-family: "Bebas Neue";
}

.portfolio-report p {
  font-size: 1.5em;
  font-family: "Katuri";
  margin-bottom: 50px;
}
