:root {
  --color-background: #31037d;
  --axis-x: 1px;
  --axis-y: 1rem;
  --delay: 10;
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #d49c3d;
  --color-red: #d14b3d;
  --color-violet: #cf52eb;
  --color-blue: #44a3f7;
  --color-green: #5acb3c;
  --color-yellow: #debf40;
  --color-foreground: var(--color-white);
  --font-name: Righteous;
}

body {
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

#section1 {
  width: 100vw;
  height: 100vh;
  background-color: #c8e8ff;
  position: relative;
  overflow: hidden;
  font-family: var(--font-name);
}

#section1 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#section1 .clouds {
  width: 200%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 0;
  animation: move-clouds 70s linear infinite;
}

@keyframes move-clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

#section1 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#section1 .icons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

#section1 .sound-icon {
  width: 40px;
  height: 40px;
}

#section1 .music-icon {
  width: 40px;
  height: 40px;
}

#section2 {
  width: 100%;
  height: 3934px;
  background: url("../img/zigzag-bg.svg") no-repeat center center;
  background-size: cover;
  color: white;
  font-family: var(--font-name);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

#section1 .right-icons {
  margin-right: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

#section1 .join-icon {
  width: 150px;
  height: 40px;
}

#section1 .mail-icon {
  width: 40px;
  height: 40px;
}

#section1 .menu-bar {
  width: 40px;
  height: 40px;
}

#section1 .right-hand {
  position: absolute;
  right: 20%;
  bottom: -10px;
  width: 50px;
  height: auto;
  animation: wave-hand 2s infinite;
}

@keyframes wave-hand {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

#section1 .left-back-tree,
#section1 .left-tree {
  animation: sway-left 3s infinite;
}

@keyframes sway-left {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

#section1 .right-back-tree,
#section1 .right-front-tree {
  animation: sway-right 3s infinite;
}

@keyframes sway-right {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

#section1 .left-back-tree {
  position: absolute;
  left: -3vw;
  bottom: -5px;
  width: 70vw;
  z-index: 1500;
}

#section1 .left-jandi {
  position: absolute;
  left: -10vw;
  bottom: -30px;
  width: 70vw;
  z-index: 2000;
}

#section1 .left-hand {
  position: absolute;
  left: 5vw;
  bottom: 40px;
  width: 50px;
  height: auto;
  z-index: 1999;
  animation: wave-hand 2s infinite;
}

#section1 .left-tree {
  position: absolute;
  left: 3vw;
  bottom: 20px;
  width: 70vw;
  z-index: 2500;
}

#section1 .right-back-tree {
  position: absolute;
  right: -45vw;
  bottom: 80px;
  width: 70vw;
  z-index: 1500;
}

#section1 .right-jandi {
  position: absolute;
  right: -30vw;
  bottom: -30px;
  width: 70vw;
  z-index: 2000;
}

#section1 .right-front-tree {
  position: absolute;
  right: -39vw;
  bottom: 30px;
  width: 70vw;
  z-index: 2500;
}

#section1 .sun-container {
  position: absolute;
  left: 48%;
  bottom: -20px;
  transform: translate(-50%, 50%);
  z-index: 1200;
  width: 800px;
  height: 800px;
}

#section1 .sun {
  position: relative;
  width: 100%;
  height: 100%;
}

#section1 .sun-body {
  width: 100%;
  height: 100%;
  animation: rotate-wings 60s linear infinite;
}

@keyframes rotate-wings {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#section1 .sun-face {
  position: absolute;
  top: 36%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

#section1 .hat {
  position: absolute;
  top: 9%;
  left: 45%;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1300;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
}

#section1 .red-container {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 50px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1300;
}

#section1 .red-body {
  width: 30px;
  height: auto;
  animation: nodding 2s infinite;
}

@keyframes nodding {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

#section1 .red-wing {
  position: absolute;
  top: -30px;
  left: 0;
  width: 60px;
  height: auto;
  animation: rotate-wing 0.5s linear infinite;
}

@keyframes rotate-wing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

#section1 .bg img {
  max-width: 200%;
  height: 300%;
  position: absolute;
  bottom: -150%;
  animation: rotating 60s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro-text {
  margin-top: 60px;
  font-size: 1.2em;
  line-height: 1;
  text-align: center;
  font-family: "Chosunilbo_myungjo";
}

.intro-text span {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.skill-icons {
  margin-top: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.skill-icons img {
  display: inline-block;
  margin-right: 100px; /* 여기에 margin 추가 */
  animation: scroll-horizontal 20s linear infinite;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#section3 .nice {
  margin-top: 175px;
  text-align: center;
}

.section3-ment1 {
  margin-top: 60px;
  font-family: "Bebas Neue";
  font-size: 140px;
  text-align: center;
  color: #fccf3d;
}

.section3-ment2 {
  font-family: "Bebas Neue";
  font-size: 120px;
  text-align: center;
  color: #fff;
  margin-top: 165px;
  line-height: 1;
  position: relative;
}

.section3-ment2 .arm {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: auto;
  animation: wave-arm 1.5s infinite;
}

@keyframes wave-arm {
  0%,
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(20deg);
  }
}

.black-effect {
  margin-top: 212px;
  text-align: center;
  position: relative;
  animation: wave-effect 5s ease-in-out infinite;
}

@keyframes wave-effect {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg) translateX(-5px) translateY(-5px);
  }
  50% {
    transform: rotate(-15deg) translateX(5px) translateY(5px);
  }
  75% {
    transform: rotate(15deg) translateX(-5px) translateY(-5px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.black-effect-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue";
  font-size: 110px;
  line-height: 1;
  color: white;
  text-align: center;
}
